<div class="card card-shadow p-4">
  <%= render 'shared/errors', object: @project %>

  <%= form_for [@project] do |f| %>
    <div class='form-group'>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class='form-group'>
    <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
      </div>
    <div class='form-group'>
      <%= f.label :complete %>
      <%= f.select(:complete, options_for_select([['Complete', true], ['In Progress', false ]]), class: 'form-control' ) %>
    </div>
    <%= f.submit 'Submit', class: 'btn btn-dark' %>
  <% end %>
</div>