<div class="container">
  <!-- Header -->
  <div class="align-items-center justify-content-center">
    <div class="jumbotron bg-dark text-center text-white">
      <h1 class="display-2"><%= @project.title %></h1>
      <% if is_admin? %>
        <%= link_to "Edit", edit_project_path(@project) %> |
        <%= link_to "Delete", project_path(@project), :data => {:confirm => "You sure?", :method => "delete"} %>
      <% end %>
    </div>
    <!-- Project Card -->
    <div class="card card-shadow p-4">
      <div class="card-body">
        <h3 class="display-4">Description<br><span class="lead"><%= @project.description %></span></h3>
        <hr>
        <% if @project.complete? %>
          <h3 class="display-4">Status: <span class="lead">Complete!</span></h3>
        <% else %>
          <h3>Status: <span class="lead">In progress</span></h3>
        <% end %>
        <hr>
        <p class="card-text"><small class="text-muted">Last updated: <%= @project.updated_at %></small></p>
      </div>
      <% if @project.image.attachment != nil %>
        <%= image_tag(@project.image, class:"card-img-top", alt:"project image") %>
      <% end %>
    </div>
  </div>
</div>