<h1>Individual Post Page!</h1>
<hr>
<div class="card p-2"
  <h1>Title: <%= @post.title %></h1>
  <hr>
  <p>Post: <%= @post.body %></p>
</div>
<hr>
<% if @post.comments.any? %>
  <h3>Comments</h3>
  <% @post.comments.each do |comment| %>
    <p><%= comment.body %>     
    <%= link_to "Edit", edit_post_comment_path(@post, comment) %> | 
    <%= link_to "Delete", post_comment_path(@post, comment), :data => {:confirm => "You sure?", :method => "delete"} %>
  <% end %>
<% end %>

<hr>
<p><%= link_to "Edit Post", edit_post_path(@post) %></p>
<p><%= link_to "Delete Post", post_path(@post), :data => {:confirm => "You sure?", :method => "delete"} %></p>
<hr>
<p><%= link_to "Add Comment", new_post_comment_path(@post) %></p>
<hr>
<p><%= link_to "Return to Posts", posts_path %></p>