<div class="container">
  <!-- Header -->
  <div class="align-items-center justify-content-center">
    <div class="jumbotron bg-dark text-center text-white">
      <h1 class="display-2"><%= @post.title %></h1>
      <% if is_admin? %>   
        <%= link_to "Edit Post", edit_post_path(@post) %> |
        <%= link_to "Delete Post", post_path(@post), :data => {:confirm => "You sure?", :method => "delete"} %>
      <% end %>
    </div>
    <!-- Post Card -->
    <div class="card card-shadow p-4">
      <div class="card-body"
        <p class="lead"><%= @post.body %></p>
      </div>
      <% if @post.image.attached? %>
        <%= image_tag(@post.image, class:"card-img-bottom", alt:"post image") %>
      <% end %>
    </div>
    <hr>
    <!-- Comments -->
    <% if @post.comments.any? %>
      <h3 class="text-primary">Comments</h3>
      <% @post.comments.each do |comment| %>
        <div class="card p-3">
          <p><%= comment.body %>
          <p class="text-muted"> - <%= comment.user.username %></p>
          <% if is_admin? || comment.user == current_user %>
            <br>   
            <p>  
              <%= link_to "Edit", edit_post_comment_path(@post, comment) %> | 
              <%= link_to "Delete", post_comment_path(@post, comment), :data => {:confirm => "You sure?", :method => "delete"} %>
            </p>    
          <% end %>
          <hr>
          <p class="card-text"><small class="text-muted">Last updated: <%= comment.updated_at %></small></p>
        </div>
        <br>
      <% end %>
      <hr>
    <% end %>
    <button class="btn btn-dark"><%= link_to "Add Comment", new_post_comment_path(@post) %></button>